/* font-family: 'Rancho', cursive; ===>poppies 400, 600 for heading & body*/
/* font-family: 'Roboto', sans-serif;   ===>poppies 400, 600 for heading & body*/
@import "./abstract/mixin";
@import "./abstract/variables";

@import "./base/animation";
@import "./base/base";

@import "./components/button";
@import "./components/logo";

.mainContainer {
  display: flex;
  justify-content: space-around;
}

.mainImgDiv {
  margin-top: 4.5rem;
}

.mainImg {
  width: 65rem;
}

.headingTxt {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  color: #fff;
  width: 49rem;
  // animation: @include paraMovementAnimation(-8rem, -4rem) 300ms linear 100ms;
  animation-fill-mode: backwards;
}

.textBox {
  margin-top: 4.5rem;
}

.para {
  color: #fff;
  font-size: 1.8rem;
  width: 52rem;
  font-family: "Roboto", sans-serif;
  animation: paraAnimation 300ms linear 400ms;
  animation-fill-mode: backwards;
}

@keyframes paraAnimation {
  0% {
    transform: translateX(8rem);
    opacity: 0;
  }
  50% {
    transform: translateX(4rem);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.register {
  width: 14rem;
  font-size: 2rem;
  color: hsl(257, 40%, 49%);
  font-family: "Roboto", cursive;
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 5px 5px #0004;
  animation: btnAnimation 300ms linear 600ms;
  animation-fill-mode: backwards;
  transition: all linear 100ms;
  position: relative;
  display: inline-block;
}

.register:hover {
  box-shadow: 0 7px 7px #0004;
  transform: translateY(-3px);
}

.register:active {
  box-shadow: 0 3px 3px #0004;
  transform: translateY(1px);
  color: hsl(257, 52%, 33%);
}

.register::after {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5rem;
  outline: none;
  top: 0;
  left: 0;
  z-index: -5;
  transition: all 200ms linear;
}

.register:hover::after {
  transform: scale(1.6);
  opacity: 0;
}

@keyframes btnAnimation {
  0% {
    transform: translateY(8rem);
    opacity: 0;
  }
  50% {
    transform: translateY(4rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.communicationSection {
  display: flex;
  justify-content: end;
}
a {
  margin: 0 1rem;
}

a > img {
  width: 3rem;
}

.communicationSection > a:last-child {
  margin-right: 10%;
}

footer {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}
